---
interface Props {
    color: string;
    hover?: string;
}

const { color, hover } = Astro.props;
---

<a href="https://www.linkedin.com/in/carlos-lagos-9b8030288/" target="_blank">
    <img
        src=`https://img.icons8.com/?size=100&id=98960&format=png&color=${color}`
        class=`size-full ${hover}`
        alt="https://www.linkedin.com/in/carlos-lagos-9b8030288/"
    />
</a>
