---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience/experience.astro";
import Footer from "../components/Footer/footer.astro";
import Head from "../components/Head/head.astro";
import Navbar from "../components/Navbar/navbar.astro";
import Proyects from "../components/Proyects/proyects.astro";
---

<Layout>
	<main>
		<nav class="fixed top-0 w-full z-50 transition-opacity duration-500">
			<Navbar />
		</nav>
		<div class="flex flex-col gap-y-40 items-center mx-auto w-[80%] mt-32 mb-20 md:mt-40">
			<section id="head" class="animate-on-scroll opacity-0 transform translate-y-10">
			  <Head />
			</section>
		  
			<section id="experience" class="animate-on-scroll opacity-0 transform translate-y-10">
			  <Experience />
			</section>
		  
			<section id="proyects" class="animate-on-scroll opacity-0 transform translate-y-10">
			  <Proyects />
			</section>
		  </div>
		<footer id="contact">
			<Footer />
		</footer>
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', function () {
	  const targets = document.querySelectorAll('.animate-on-scroll');
  
	  const observer = new IntersectionObserver((entries, observer) => {
		entries.forEach(entry => {
		  if (entry.isIntersecting) {
			entry.target.classList.add('animate-fadeInDown');
			observer.unobserve(entry.target);
		  }
		});
	  }, {
		threshold: 0.5
	  });
  
	  targets.forEach(target => observer.observe(target));
	});
  </script>


