<nav class="navbar flex gap-5 p-6 my-3 mx-auto items-center justify-center md:justify-end w-[98%] rounded-xl bg-slate-700 text-white" id="navbar">
  <a href="#head">Inicio</a>
  <a href="#stack">Stack</a>
  <a href="#experience">Experiencia</a>
  <a href="#proyects">Proyectos</a>
  <a href="#contact">Contacto</a>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const navbar = document.querySelector('.navbar');

      window.addEventListener('scroll', () => {
          if (window.scrollY > 50) {
              navbar.classList.add('bg-opacity-50');
          } else {
              navbar.classList.remove('bg-opacity-50');
          }
      });

      const links = navbar.querySelectorAll('a');

      links.forEach(link => {
          link.addEventListener('click', (event) => {
              event.preventDefault();
              const targetId = link.getAttribute('href').substring(1);
              const targetElement = document.getElementById(targetId);

              window.scroll({
                  top: targetElement?.offsetTop - 160,
                  behavior: 'smooth'
              });
          });
      });
  });
</script>