---
import GitHub from "../Buttons/gitHub.astro";
import WhatsApp from "../Buttons/whatsApp.astro";
import Gmail from "../Buttons/gmail.astro";
import LinkedIn from "../Buttons/linkedIn.astro";
---

<div
    class="flex flex-col items-center  rounded-xl w-[98%] mx-auto my-3 p-6 text-white bg-slate-700"
>
    <h1>Encuentrame en:</h1>
    <nav class="flex justify-center w-full gap-16 items-center mt-3">
        <button class="size-10 hover:scale-110 transition duration-200 ">
            <GitHub color="FFFFFF" />
        </button>

        <button class="size-9 hover:scale-110 transition duration-200">
            <WhatsApp color="FFFFFF" />
        </button>

        <button class="size-10 hover:scale-110 transition duration-200">
            <Gmail color="FFFFFF" />
        </button>

        <button class="size-10 hover:scale-110 transition duration-200">
            <LinkedIn color="FFFFFF" />
        </button>
    </nav>
    <h1 class="mt-5 text-sm">Portfolio Desarrollado con Astro, TypeScript y mucho Empeño</h1>
</div>
