---
import EXPERIENCE from "./mockExperience"
import Item from "./item.astro"
---
<div>
    <h1 class="flex flex-row gap-2 items-center text-3xl font-bold mb-6">
        <img
        src={`https://img.icons8.com/?size=100&id=eHvteXE5z1zQ&format=png&color=FFFFFF`}
        class="size-10"
        alt="image"
    />
        Experiencia Laboral
    </h1>
    <ol class=" relative border-s border-gray-200 dark:border-gray-700 ml-3">
        {
            EXPERIENCE.map((exp, index) => (
                <li class="mb-10 ms-6 text-pretty">
                    <Item {...exp} index={index} />
                </li>
            ))
        }
    </ol>
</div>