<div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-bold mb-9">Mis tecnologias</h1>
    <section class="overflow-hidden w-full">
        <section class="flex animate-mobile md:animate-scroll">
            <span class="flex items-center space-x-4">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
                    alt="Javascript"
                    class="size-20 rounded-lg"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
                    alt="TypeScript"
                    class="size-20"
                />

                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
                    alt="React"
                    class="size-20"
                />
                <img
                    src="https://cdn.worldvectorlogo.com/logos/redux.svg"
                    alt="Redux"
                    class="size-20"
                />
                <img
                    src="https://cdn.worldvectorlogo.com/logos/apollo-graphql-compact.svg"
                    alt="Apollo"
                    class="size-20 filter invert"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Vue.png?20170311074507"
                    alt="Vue"
                    class="size-20"
                />
                <img
                    src="https://files.raycast.com/nwt9ncojkvwmjfkaada8upafvpnu"
                    alt="Tailwind"
                    class="size-20"
                />

                <img
                    src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
                    alt="NodeJs"
                    class="size-20"
                />
                <img
                    src="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png"
                    alt="Express"
                    class="size-20"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/GraphQL_Logo.svg/512px-GraphQL_Logo.svg.png"
                    alt="GraphQL"
                    class="size-20"
                />
                <img
                    src="https://cdn.icon-icons.com/icons2/2699/PNG/512/axios_logo_icon_168545.png"
                    alt="Axios"
                    class="size-20"
                />

                <img
                    src="https://cdn.icon-icons.com/icons2/2699/PNG/512/postgresql_vertical_logo_icon_168900.png"
                    alt="PostgreSQL"
                    class="size-20"
                />
                <img
                    src="https://www.pngall.com/wp-content/uploads/13/Mongodb-PNG-Image-HD.png"
                    alt="MongoDB"
                    class="size-24"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
                    alt="Javascript"
                    class="size-20 rounded-lg"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
                    alt="TypeScript"
                    class="size-20"
                />

                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
                    alt="React"
                    class="size-20"
                />
                <img
                    src="https://cdn.worldvectorlogo.com/logos/redux.svg"
                    alt="Redux"
                    class="size-20"
                />
                <img
                    src="https://cdn.worldvectorlogo.com/logos/apollo-graphql-compact.svg"
                    alt="Apollo"
                    class="size-20 filter invert"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Vue.png?20170311074507"
                    alt="Vue"
                    class="size-20"
                />
                <img
                    src="https://files.raycast.com/nwt9ncojkvwmjfkaada8upafvpnu"
                    alt="Tailwind"
                    class="size-20"
                />

                <img
                    src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
                    alt="NodeJs"
                    class="size-20"
                />
                <img
                    src="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png"
                    alt="Express"
                    class="size-20"
                />
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/GraphQL_Logo.svg/512px-GraphQL_Logo.svg.png"
                    alt="GraphQL"
                    class="size-20"
                />
                <img
                    src="https://cdn.icon-icons.com/icons2/2699/PNG/512/axios_logo_icon_168545.png"
                    alt="Axios"
                    class="size-20"
                />

                <img
                    src="https://cdn.icon-icons.com/icons2/2699/PNG/512/postgresql_vertical_logo_icon_168900.png"
                    alt="PostgreSQL"
                    class="size-20"
                />
                <img
                    src="https://www.pngall.com/wp-content/uploads/13/Mongodb-PNG-Image-HD.png"
                    alt="MongoDB"
                    class="size-24"
                />
            </span>
        </section>
    </section>
</div>
